<system>
  <timestamp epoch='1424757528120' unit='ms'>
    <datetime>2015-02-24T05:58:48Z</datetime>
  </timestamp>
  <rundeck>
    <version>2.4.2</version>
    <build>2.4.2-1</build>
    <node>rundeck.domain</node>
    <base>/var/lib/rundeck</base>
    <apiversion>12</apiversion>
    <serverUUID />
  </rundeck>
  <os>
    <arch>amd64</arch>
    <name>Linux</name>
    <version>3.13.0-35-generic</version>
  </os>
  <jvm>
    <name>OpenJDK 64-Bit Server VM</name>
    <vendor>Oracle Corporation</vendor>
    <version>1.7.0_75</version>
    <implementationVersion>24.75-b04</implementationVersion>
  </jvm>
  <stats>
    <uptime duration='3163813' unit='ms'>
      <since epoch='1424754364307' unit='ms'>
        <datetime>2015-02-24T05:06:04Z</datetime>
      </since>
    </uptime>
    <cpu>
      <loadAverage unit='percent'>0.04</loadAverage>
      <processors>2</processors>
    </cpu>
    <memory unit='byte'>
      <max>954728448</max>
      <free>204260720</free>
      <total>536346624</total>
    </memory>
    <scheduler>
      <running>20</running>
    </scheduler>
    <threads>
      <active>27</active>
    </threads>
  </stats>
  <metrics href='http://rundeck.domain:4440/metrics/metrics?pretty=true' contentType='text/json' />
  <threadDump href='http://rundeck.domain:4440/metrics/threads' contentType='text/plain' />
</system>
